  <div class="row-fluid">
    <div class="span2">
	<h3>My Profile</h3>
		<p>
		  <b>Name:</b>
		  <%= @student.name %>
		</p>

		<p>
		  <b>Email:</b>
		  <%= @student.email %>
		</p>
		<%= link_to 'Edit your profile', edit_student_path(@student) %> 

    </div>
    <div class="span10">
		<p id="notice"><%= notice %></p>
		<p>
		  <h3>Courses Enrolled In:</h3>
		<% @student.enrollments.each do |e| %>
		<ul>
		  	<li><%= e.course.title %></li>
				<% e.lights.each do |l| %>
					<%= image_tag l.color + '.png', size: '20x20' %>
		   <% end %>
		</ul>
		<% end %>
		</p>  

    </div>
  </div>



