<p id="notice"><%= notice %></p>
<p>
  <b>Email:</b>
  <%= @student.email %>
</p>
<p>
  <b>Courses Enrolled In:</b>
<% @student.enrollments.each do |e| %>
<ul>
  	<li><%= e.course.title %></li>
		<% e.lights.each do |l| %>
			<%= image_tag l.color + '.png', size: '20x20' %>
   <% end %>
</ul>
<% end %>
</p>  

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>