<h1>New light</h1>

<%= render 'form' %>

<%= link_to 'Back', lights_path %>
<br/>

<%= link_to image_tag("red.png"), lights_url(:light => {:color => "Red", :topic_id => params[:topic_id]}), :method => 'post' %><br/>
<%= link_to image_tag("green.png"), lights_url(:light => {:color => "Green", :topic_id => params[:topic_id]}), :method => 'post' %><br/>
<%= link_to image_tag("blue.png"), lights_url(:light => {:color => "Blue", :topic_id => params[:topic_id]}), :method => 'post' %><br/>
