<p id="notice"><%= notice %></p>

<p>
  <b>Color:</b>
  <%= @light.color %>
</p>

<p>
  <b>Topic:</b>
  <%= @light.topic_id %>
</p>


<%= link_to 'Edit', edit_light_path(@light) %> |
<%= link_to 'Back', lights_path %>
