<p id="notice"><%= notice %></p>

<p>
  <b>Teacher Name:</b>
  <%= @teacher.name %>
</p>

<p>
  <b>Email:</b>
  <%= @teacher.email %>
</p>


<p>
  <b>Courses Taught:</b>
  

  <ol>
  <% @teacher.courses.each do |c| %>
    <li><h4><%= c.title %> | Section: <%= c.section %> | 

      <%= link_to "(Add Topic)", teacher_url(course_id: c.id)%></h4>
      

      <ol>
      
      <% c.topics.each do |t| %>
        <li>
        
        <% if t.current_topic == true %>
          <b><font color="green">
           <%= t.name %>
           <%= "- CURRENT TOPIC" %>
           </b></font>
        <% else %>
            <%= t.name %>
            <%= link_to "make current", "#{topic_url(t.id)}?teacher_id=#{@teacher.id}", :method => "put" %>
        <% end %>
          
            <br/>
          <% t.lights.each do |l| %>
            <%= image_tag("#{l.color}.png", :size => "20x20") %>
          <% end %>
      
          
          </li>
      <% end %>
      </ol>
      <br/>
    </li>
  <% end %>
  </ol>
  
 <h4><%= link_to "(Add Course)", teacher_url(teacher_id: @teacher.id), :class => "add_course", :remote => true %></h4>
  <br />
  <br />
</p>  
<%= render "courses/form" %>


<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
