<!DOCTYPE html>
<html>
<head>
  <title>Lsv1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-static-top">
		
	  <div class="navbar-inner">
		<%= link_to "Learning Signal", root_url, :class => "brand"%>
	    <ul class="nav">
	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="/lights/new?student_id=1&topic_id=1">Signals</a></li>
	      <li><a href="/teachers/1">test teacher</a></li>
	
		<% if current_student %>
		  <li><a>Logged in as <%= current_student.email %> </a> </li><li><%= link_to "Log Out", logout_path %></li>
		<% else %>
		<li><%= link_to "Sign Up", signup_path %></li> <li> <%= link_to "Log In", login_path %></li>
		<% end %>
	
	<ul>
	  </div>
	</div>
	<div class="container-fluid">
	
			<%= yield %>
</div>
</body>
</html>
